* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: gainsboro;
}

#in1 {
  width: 30%;
  margin: 20px 0 0 30%;
  padding: 5px;
}

#btnAdd {
  height: 4%;
  width: 5%;
}

.textarea {
  margin: 0 5%;
  padding-top: 5%;
}
